---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Button from "../../components/Button.astro";
import Image from "astro/components/Image.astro";
import WitLogo from "../../assets/images/logo-wit.svg";
import CultLogo from "../../assets/images/logo-cult.svg";
import MncLogo from "../../assets/images/logo-mnc.svg";
---

<Layout
  title="ABOUT | KOHEI HARADA"
  keywords="KOHEIHARADA, 原田康平, WIT, 新規ビジネス, プロジェクトデザイン, クリエイティブディレクター"
  descr="新規ビジネスのアイデア創出からプロジェクトデザイン、運営までを見守るクリエイティブディレクターです。ブランドのDNAを形作るMVPを開発し、顧客にブランドの本質を伝えることが私の使命です。"
>
  <Header />
  <div class="container pt-[225px] pb-[67px]">
    <h1 class="main-title">About</h1>
    <div
      class="flex flex-col max-w-[674px] font-text-content font-normal gap-6 mt-[86px] leading-[24px]"
    >
      <p class="">
        新しいビジネスのアイデアを生み出し、プロジェクトをデザインし、運営までを見守るクリエイティブディレクターです。プロモーションムービーや撮影現場では、ディレクターやカメラマンとしてもクリエイティブなビジョンを形にしています。ブランド開発において、斬新な解決策を提供するスペシャリストとして、多くの成功を収めてきました。
        ブランドのDNAを形作るMVP（Mission, Value,
        Purpose）を開発し、顧客にブランドの本質を伝えることが私の使命です。また、DAO（分散型自律組織）の未来を見据え、ユーザーの行動をデザインすることにも力を入れています。
      </p>
    </div>
    <Button content="Contact" href="/jp/contact/" className="mr-auto mt-7" />
    <h2 class="text-[40px] mt-[120px] font-title">KOHEI HARADA</h2>
    <p class="leading-[24px] font-text-content mt-6">
      Creative Factory <br />
      WIT inc. (Japan) CEO / WIT B.V. <br />
      (Netherlands) CEO
    </p>
    <Button
      content="Instagram"
      href="https://www.instagram.com/phryne_sense/"
      className="mr-auto mt-7"
    />
    <div class="flex flex-col gap-y-[20px] mt-[75px]">
      <b class="font-title text-[24px] max-md:text-lg">Japan Branch</b>
      <a href="https://witdesignplaats.com/" target="_blank">
        <Image src={WitLogo} width={120} height={38} alt="WIT" />
      </a>
    </div>
    <div class="flex flex-col gap-y-[20px] mt-[80px] max-md:mt-[57px]">
      <b class="font-title text-[24px] max-md:text-lg">Project</b>
      <div class="flex items-center gap-x-[40px]">
        <a href="https://inspirationcultmag.com/" target="_blank">
          <Image
            src={CultLogo}
            width={200}
            height={48}
            alt="Inspiration Cult"
          />
        </a>
        <a href="https://mnc-dao.com/" target="_blank">
          <Image src={MncLogo} width={162} height={20} alt="MNC" />
        </a>
      </div>
    </div>
  </div>
  <section class="main-sections">
    <article
      class="main-sections__item main-sections__item--main-sub z-10 relative"
    >
      <div class="absolute w-full h-full object-cover top-0 left-0 z-10">
        <video
          src="/video/office-video.mp4"
          playsinline
          autoplay
          loop
          muted
          class="w-full h-full object-cover office-video"></video>
      </div>
      <div class="container h-full flex-grow z-20">
        <div
          class="flex flex-col h-full justify-center flex-grow max-md:items-center"
        >
          <h2 class="font-title uppercase text-[80px] leading-[80px] mb-6">
            Office
          </h2>
          <Button content="View" className="w-max" href="/jp/office/" />
        </div>
      </div>
    </article>
    <article
      class="main-sections__item main-sections__item--footer overflow-hidden"
    >
      <div class="container h-full flex-grow">
        <div
          class="flex flex-col h-full justify-center flex-grow max-md:items-center"
        >
          <h2
            class="font-title uppercase text-[80px] leading-[80px] mb-6 text-white"
          >
            Future
          </h2>
          <Button content="View" href="/jp/future" className="w-max" invert />
          <div class="box" id="box1"></div>
          <div class="box" id="box2"></div>
        </div>
      </div>
    </article>
  </section>
</Layout>
<style lang="scss">
  .main-sections__item--main-sub {
    background-image: url(../images/office.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    const officeVideo = document.querySelector(".office-video");
    officeVideo.play();
  });
</script>
