---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
---

<Layout title="Page not found | KOHEI HARADA">
  <Header />
  <div class="container pt-[225px] pb-[67px]">
    <h1 class="main-title">404 ERROR</h1>
    <div class="flex flex-col">
      <p class="font-text-content">
        The requested url was not found on this server.
      </p>
      <Button content="Home" href={"/"} className={"mr-auto mt-[60px]"} />
    </div>
  </div>
</Layout>
<style lang="scss">
  @media (max-width: 767.9px) {
    .main-title {
      font-size: 36px;
    }
  }
</style>
<script></script>
