---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Spacer from "../components/Spacer.astro";
---

<Layout
  title="WORKS | KOHEI HARADA"
  keywords="KOHEIHARADA, adidas, HUMAN MADE, Project Design, Creative Direction, Promotional Movies"
  descr="Engaged in project design and creative direction. On promotional movie sets, I also bring creative visions to life as a director and cinematographer."
>
  <Header />
  <div class="container pt-[145px] pb-[67px]">
    <h1 class="main-title">Works</h1>
  </div>
  <section class="works-slider">
    <article class="works-slider-item works-slider-item--sake">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/sake.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">SAKE STORM COWBOY</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="works-slider-item works-slider-item--adidas">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/adidas.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name"
            >HUMAN MADE × Adidas Original</span
          >
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="works-slider-item works-slider-item--adidas-tokyo">
      <div class="container h-full pointer-events-none">
        <video
          muted
          class="works-slider-item__media works-slider-item__media--mob w-[480px] h-[275px] mx-auto"
        >
          <source
            src="/video/adidas-energy-mob.mp4"
            media="(max-width:767.9px)"
          />
          <source src="/video/adidas-energy-pc.mp4" />
        </video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">Adidas TOKYO ENERGY</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="works-slider-item works-slider-item--kode">
      <div class="container h-full pointer-events-none">
        <video
          muted
          class="works-slider-item__media works-slider-item__media--mob w-[480px] h-[275px] mx-auto"
        >
          <source src="/video/kode-mob.mp4" media="(max-width:767.9px)" />
          <source src="/video/kode-pc.mp4" />
        </video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">KODE</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="works-slider-item works-slider-item--auger">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/auger.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">貝印 AUGER</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
            <li class="works-slider-item__info-tags-item">
              EVENT PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="works-slider-item works-slider-item--pokemon">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/pokemon.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name"
            >Pokémon × Daniel Arsham</span
          >
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--rimowa">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/rimowa.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">RIMOWA</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="works-slider-item works-slider-item--jw">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/jw.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">JOHNNIE WALKER</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">PROMOTION PRODUCE</li>
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">EVENT PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--casio">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/casio.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">CASIO</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <!-- <article class="works-slider-item works-slider-item--uniqlo">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/uniqlo.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">Uniqlo STAR WARS</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
          </ul>
        </div>
      </div>
    </article> -->

    <!-- <article class="works-slider-item works-slider-item--foot-locker">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/footlocker.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">Foot Locker</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article> -->

    <article class="works-slider-item works-slider-item--adidas-base">
      <div class="container h-full pointer-events-none">
        <video
          muted
          class="works-slider-item__media works-slider-item__media--mob w-[480px] h-[275px] mx-auto"
        >
          <source
            src="/video/adidas-base-mob.mp4"
            media="(max-width:767.9px)"
          />
          <source src="/video/adidas-base.mp4" />
        </video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">Adidas</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--loro">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/loro.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">Loro Piana</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--north-face">
      <div class="container h-full pointer-events-none">
        <video
          muted
          class="works-slider-item__media works-slider-item__media--mob w-[480px] h-[275px] mx-auto"
        >
          <source src="/video/north-face-mob.mp4" media="(max-width:767.9px)" />
          <source src="/video/north-face-pc.mp4" />
        </video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">THE NORTH FACE</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--adidas-shibuya">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/adidas-shibuya.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name"
            >Adidas Brand Core Store Shibuya</span
          >
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
            <li class="works-slider-item__info-tags-item">
              EVENT PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--iwc">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/iwc.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">IWC</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--redbull">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/redbull.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">Red Bull</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--coach">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/coach.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">COACH</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--mini">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/mini.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">MINI Crossover</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--tommy">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/tommy.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">Tommy Hilfiger</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">MOVIE PRODUCE</li>
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
            <li class="works-slider-item__info-tags-item">CREATIVE PRODUCE</li>
          </ul>
        </div>
      </div>
    </article>

    <article class="works-slider-item works-slider-item--chandon">
      <div class="container h-full pointer-events-none">
        <video
          src="/video/chandon.mp4"
          muted
          class="works-slider-item__media w-[480px] h-[275px] mx-auto"></video>
        <div class="works-slider-item__info">
          <span class="works-slider-item__info-name">Moët&Chandon</span>
          <ul class="works-slider-item__info-tags">
            <li class="works-slider-item__info-tags-item">
              PHOTOGRAPH PRODUCE
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>
  <article class="main-sections__item main-sections__item--collab">
    <video class="main-sections__item-video-bg z-10" loop autoplay muted>
      <source src="/video/adidas-icm-mob.mp4" media="(max-width:767.9px)" />
      <source src="/video/adidas-icm-pc.mp4" />
    </video>
    <div class="container h-full flex-grow z-20">
      <div
        class="flex flex-col h-full justify-center text-white m-0 flex-grow max-md:justify-end max-md:pb-[42px]"
      >
        <h2
          class="font-title uppercase text-[54px] leading-[54px] max-w-[400px] max-md:text-[36px] max-md:leading-[48px]"
        >
          ICM × adidas COLLABO
        </h2>
        <p
          class="max-w-[530px] text-[20px] leading-[28px] mt-[20px] max-md:text-base max-md:max-w-[350px]"
        >
          Adidas launched the original INSPIRATION CULT sneaker worldwide.
        </p>
      </div>
    </div>
  </article>
</Layout>

<style lang="scss" is:global>
  .works-slider {
    display: flex;
    flex-direction: column;
  }
  .works-slider-item {
    height: 240px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    transition: 0.4s height;
    position: relative;
    &:hover {
      height: 340px;
    }
    &--active {
      height: 100dvh;
      .works-slider-item__info {
        margin-top: auto;
        margin-bottom: 0;
        padding-bottom: 50px;
      }
      .works-slider-item__media {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      &:hover {
        height: 100dvh;
      }
    }
    &--sake {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/sake.webp);
    }
    &--adidas {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/adidas.webp);
    }
    &--adidas-tokyo {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/adidas-tokyo.webp);
    }
    &--kode {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/kode.webp);
    }
    &--pokemon {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/pokemon.webp);
    }
    &--auger {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/auger.webp);
    }
    &--auger {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/auger.webp);
    }
    &--rimowa {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/rimowa.webp);
    }
    &--jw {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/jw.webp);
    }
    &--casio {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/casio.webp);
    }
    &--uniqlo {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/uniqlo.webp);
    }
    &--foot-locker {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/footlocker.webp);
    }
    &--adidas-base {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/adidas-base.webp);
    }
    &--loro {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/loro.webp);
    }
    &--north-face {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/north-face.webp);
    }
    &--adidas-shibuya {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/adidas-shibuya.webp);
    }
    &--loro {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/loro.webp);
    }
    &--iwc {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/iwc.webp);
    }
    &--redbull {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/redbull.webp);
    }
    &--loro {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/loro.webp);
    }
    &--coach {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/coach.webp);
    }
    &--mini {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/mini.webp);
    }
    &--tommy {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/tommy.webp);
    }
    &--chandon {
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 50%,
          rgba(43, 43, 43, 0.4) 55%,
          rgba(43, 43, 43, 1) 100%
        ),
        url(../images/chandon.webp);
    }
    &__media {
      transition: 0.4s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    }
    &__info {
      margin-block: auto;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      transition:
        0.4s margin-top,
        0.4s padding-bottom;
      &-name {
        font-size: 36px;
        text-align: right;
      }
      &-tags {
        display: flex;
        justify-content: flex-end;
        column-gap: 4px;
        padding: 0;
        margin: 0;
        font-family: "Roboto";
        &-item {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 19px;
          border: 1px solid white;
          padding-block: 3px;
          padding-inline: 7px;
        }
      }
    }
  }
  .main-sections {
    display: flex;
    flex-direction: column;
    // scroll-snap-type: y mandatory;
    // overflow: auto;
    // height: 100dvh;
    &__top {
      display: flex;
      flex-direction: column;
      position: relative;
      &::after {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: url(../images/office.webp);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        filter: blur(var(--topSectionBlur));
      }
      position: relative;
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     left: 0;
      //     top: 0;
      //     width: 100%;
      //     height: 200%;
      //     backdrop-filter: blur(10px);
      //   }
      //   &::-webkit-scrollbar {
      //     display: none;
      //   }
    }
    &__item {
      width: 100%;
      min-height: 100dvh;
      flex-grow: 2;
      //   background-color: #111;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      display: flex;
      flex-direction: column;
      //   &:not(.works-slider-item--collab, .works-slider-item--main, .works-slider-item--main-sub) {
      // 	background-image: linear-gradient(to bottom, rgba(255,255,255,1), 55% #B9B9B9, 100% #2B2B2B);
      //   }
      &-media {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &-media-grid {
        margin-inline: auto;
        margin-top: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 15px;
        &-item {
          width: 380px;
          height: 220px;
          background-color: #0f0f0f;
        }
      }
      &-info {
        margin-top: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-bottom: 50px;
        &-name {
          font-size: 36px;
          text-align: right;
        }
        &-tags {
          display: flex;
          justify-content: flex-end;
          column-gap: 4px;
          padding: 0;
          margin: 0;
          font-family: "Roboto";
          &-item {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 19px;
            border: 1px solid white;
            padding-block: 3px;
            padding-inline: 7px;
          }
        }
      }
      &--collab {
      }
    }
  }
  @media (max-width: 767.9px) {
    .container {
      padding-inline: 40px;
    }
    .works-slider-item {
      &__media {
        width: calc(100% - 40px);
        &--mob {
          width: 100%;
          height: 100%;
          object-fit: contain;
          z-index: 0;
        }
      }
      &__info {
        row-gap: 5px;
        z-index: 1;
        &-name {
          font-size: 24px;
        }
        &-tags {
          flex-wrap: wrap;
          row-gap: 5px;
          &-item {
            white-space: nowrap;
          }
        }
      }
    }
  }
</style>
<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import ScrollToPlugin from "gsap/ScrollToPlugin";
  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);
  const collabVideo = document.querySelector(".main-sections__item-video-bg");
  collabVideo.play();
  const slider = document.querySelector(".works-slider");
  slider.addEventListener("click", (e) => {
    if (e.target.classList.contains("works-slider-item")) {
      if (e.target.classList.contains("works-slider-item--active")) {
        e.target.classList.remove("works-slider-item--active");
        if (e.target.querySelector("video")) {
          e.target.querySelector("video").pause();
        }
        return;
      }
      if (slider.querySelector(".works-slider-item--active")) {
        slider
          .querySelector(".works-slider-item--active")
          .classList.remove("works-slider-item--active");
        e.target.querySelector("video").pause();
      }
      e.target.classList.add("works-slider-item--active");
      e.target.querySelector("video").play();
      //   gsap.to(window, { duration: 2, scrollTo: 400 });
      setTimeout(
        () =>
          gsap.to(window, {
            duration: 0.4,
            scrollTo: ".works-slider-item--active",
          }),
        400
      );
    }
  });
</script>
