---
import Logo from "../assets/logo.svg";
import Image from "astro/components/Image.astro";
---

<header class="page-header">
  <a href="/" class="page-header__logo">
    <Image src={Logo} width={62} height={30} alt="Kohei Korada" />
  </a>
  <div class="page-header__actions">
    <div class="page-header__toggle">
      <div class="page-header__toggle-item page-header__toggle-item--left">
      </div>
      <div class="page-header__toggle-item page-header__toggle-item--right">
      </div>
      <div
        class="page-header__toggle-item-active page-header__toggle-item-active--left"
      >
      </div>
      <div
        class="page-header__toggle-item-active page-header__toggle-item-active--right"
      >
      </div>
    </div>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__list-item">
          <a href="/about/" class="main-nav__list-item-link">About</a>
        </li>
        <li class="main-nav__list-item">
          <a href="#" class="main-nav__list-item-link">Office</a>
        </li>
        <li class="main-nav__list-item">
          <a href="/works/" class="main-nav__list-item-link">Works</a>
        </li>
        <li class="main-nav__list-item">
          <a href="#" class="main-nav__list-item-link">Future</a>
        </li>
        <li class="main-nav__list-item">
          <a href="#" class="main-nav__list-item-link">Contact</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="language-selector">JP</a>
  </div>
</header>
<style lang="scss">
  .page-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-inline: 30px;
    align-items: center;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0)
    );
    z-index: 200;
    &__actions {
      display: flex;
      align-items: center;
      column-gap: 46px;
    }
    &__toggle {
      display: none;
    }
  }
  .language-selector {
    color: var(--fontSubColor);
    background-color: var(--fontColor);
    border-radius: 20px;
    padding-inline: 19px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .main-nav {
    &__list {
      display: flex;
      column-gap: 45px;
      font-size: 16px;
      &-item {
        &-link {
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
  @media (max-width: 767.9px) {
    :root {
      --overlayHeight: 0%;
    }
    .page-header {
      padding-inline: 20px;
      padding-top: 16px;
      &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px);
        width: 100dvw;
        height: 100dvh;
        clip-path: polygon(
          0 0,
          100% 0,
          100% var(--overlayHeight),
          0 var(--overlayHeight)
        );
      }
      &__logo {
        z-index: 100;
      }
      &__toggle {
        z-index: 100;
      }
      &--active {
        .page-header {
          &__logo {
            filter: invert(1);
          }
          &__toggle {
            filter: invert(1);
          }
        }
        .main-nav {
          display: flex;
          pointer-events: all;
        }
      }
      &__logo {
        width: 48px;
        transition: 0.4s filter;
      }
      &__toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 16px;
        height: 30px;
        width: 40px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        transition: 0.4s filter;
        &-item {
          background-color: #000;
          width: 31px;
          height: calc(1px * var(--device-pixel-ratio, 1));
          transition: 0.8s transform ease-in-out;
          pointer-events: none;
        }
        &-item-active {
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: #000;
          width: 35px;
          height: calc(1px * var(--device-pixel-ratio, 1));
          transition: 0.8s transform ease-out;
          pointer-events: none;
          &--left {
            transform: translate(-50px, 40px) rotate(-45deg);
          }
          &--right {
            transform: translate(50px, 40px) rotate(45deg);
          }
        }
        &--active &-item {
          &--left {
            transform: translateX(-200%);
          }
          &--right {
            transform: translateX(200%);
          }
          &-active {
            &--left {
              transform: translate(-50%, -50%) rotate(calc(-225deg - 360deg));
            }
            &--right {
              transform: translate(-50%, -50%) rotate(calc(225deg + 360deg));
            }
          }
          // background-color: #fff;
        }
      }
    }
    .main-nav {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      pointer-events: none;
      &__list {
        flex-direction: column;
        row-gap: 20px;
        &-item {
          color: #fff;
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 28px;
          clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        }
      }
    }
    .language-selector {
      position: fixed;
      bottom: 30px;
      right: 30px;
    }
  }
</style>
<script>
  import gsap from "gsap";
  const pageHeader = document.querySelector(".page-header");
  const headerToggle = pageHeader.querySelector(".page-header__toggle");
  headerToggle.addEventListener("click", (e) => {
    e.target.classList.toggle("page-header__toggle--active");
    pageHeader.classList.toggle("page-header--active");
    if (e.target.classList.contains("page-header__toggle--active")) {
      const headerTl = new gsap.timeline();
      headerTl
        .to(".page-header", 0.6, {
          "--overlayHeight": "100%",
          ease: "power2.inOut",
        })
        .to(".main-nav__list-item", 0.3, {
          clipPath: "polygon(0 0, 100% 0, 100% 100%, 0 100%)",
          stagger: 0.1,       
          ease: "power2.inOut", 
        }, "-=0.4");
    } else {
      const headerTl = new gsap.timeline();
      headerTl.to(".main-nav__list-item", 0.3, {
          clipPath: "polygon(0 0, 100% 0, 100% 0%, 0 0%)",
          stagger: -0.1,
          ease: "power2.inOut"        
        }).to(".page-header", 0.6, {
        "--overlayHeight": "0%",
        ease: "power2.inOut",
      }, "-=0.4");
    }
  });
</script>
