---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import PageFooter from "../components/PageFooter.astro";
import Header from "../components/Header.astro";
import Spacer from "../components/Spacer.astro";
---

<Layout
  title="KOHEI HARADA | Creative Factory "
  descr="A creative director who oversees everything from ideation for new business ventures to project design and management. I focus on developing a brand's MVP to convey its essence to customers and am also dedicated to designing user behaviors with a vision toward the future of DAOs."
  keywords="KOHEIHARADA, Project Design, Creative, Promotional Movies, adidas, HUMAN MADE"
>
  <Header />
  <main class="page-main">
    <section class="main-sections">
      <div class="main-sections__top">
        <article class="main-sections__item main-sections__item--main">
          <div class="container h-full flex-grow">
            <div class="main-section flex-grow">
              <div class="main-section__main">
                <h1 class="main-section__title">Kohei Harada</h1>
                <div class="main-section__sub">Creative Factory</div>
              </div>
              <div class="main-section__descr">
                <p class="main-section__descr-text">
                  As a Creative Director, I oversee everything from generating
                  new business ideas to designing and managing projects. I
                  prioritize developing the MVP (Mission, Value, Purpose) of
                  brands and communicating their essence to customers.
                  Additionally, I focus on designing user behaviors with a
                  vision towards the future of DAOs (Decentralized Autonomous
                  Organizations).
                </p>
                <Button
                  content="View"
                  href="/about"
                  className="ml-auto main-section__descr-btn"
                />
              </div>
            </div>
          </div>
        </article>
        <article class="main-sections__item main-sections__item--main-sub z-10">
          <div class="container h-full flex-grow">
            <div
              class="flex flex-col h-full justify-center flex-grow max-md:items-center"
            >
              <h2 class="font-title uppercase text-[80px] leading-[80px] mb-6">
                Office
              </h2>
              <Button content="View" href="/office" className="w-max" />
            </div>
          </div>
        </article>
        <video
          src="/video/office-video.mp4"
          class="main-sections__top-video"
          loop
          muted></video>
      </div>
      <article class="main-sections__item main-sections__item--collab">
        <video class="main-sections__item-video-bg" muted>
          <source src="video/adidas-icm-mob.mp4" media="(max-width:767.9px)" />
          <source src="video/adidas-icm-pc.mp4" />
        </video>
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow max-md:justify-end max-md:pb-[42px]"
          >
            <h2
              class="font-title uppercase text-[54px] leading-[54px] max-w-[400px] max-md:text-[36px] max-md:leading-[48px]"
            >
              ICM × adidas COLLABO
            </h2>
            <p
              class="max-w-[530px] text-[20px] leading-[28px] mt-[20px] max-md:text-base max-md:max-w-[350px]"
            >
              Adidas launched the original INSPIRATION CULT sneaker worldwide.
            </p>
          </div>
        </div>
      </article>
      <article class="main-sections__item main-sections__item--sake">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <b
              class="uppercase font-title text-[54px] leading-[54px] mb-auto mt-[100px] max-md:mt-[40px] max-md:text-[36px]"
              >Works</b
            >
            <video
              src="video/sake.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            >
            </video>

            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name"
                >SAKE STORM COWBOY</span
              >
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--adidas">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/adidas.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            >
            </video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name"
                >HUMAN MADE × Adidas Original</span
              >
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--adidas-tokyo">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              muted
              class="main-sections__item-media main-sections__item-media--mob-fill w-[760px] h-[429px] mx-auto"
            >
              <source
                src="video/adidas-energy-mob.mp4"
                media="(max-width:767.9px)"
              />
              <source src="video/adidas-energy-pc.mp4" />
            </video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name"
                >Adidas TOKYO ENERGY</span
              >
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  CREATIVE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--kode">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              muted
              class="main-sections__item-media main-sections__item-media--mob-fill w-[760px] h-[429px] mx-auto"
            >
              <source src="video/kode-mob.mp4" media="(max-width:767.9px)" />
              <source src="video/kode-pc.mp4" />
            </video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">KODE</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  CREATIVE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--auger">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/auger.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">貝印 AUGER</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  CREATIVE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--pokemon">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/pokemon.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name"
                >Pokémon × Daniel Arsham</span
              >
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--rimowa">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/rimowa.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">RIMOWA</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--jw">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/jw.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">JOHNNIE WALKER</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  PROMOTION PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  CREATIVE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  EVENT PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--casio">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/casio.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">CASIO</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  CREATIVE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  EVENT PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--uniqlo">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/uniqlo.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">Uniqlo STAR WARS</span
              >
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--foot-locker">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/footlocker.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">Foot Locker</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--adidas-base">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              muted
              class="main-sections__item-media main-sections__item-media--mob-fill w-[480px] h-[275px] mx-auto"
            >
              <source
                src="video/adidas-base-mob.mp4"
                media="(max-width:767.9px)"
              />
              <source src="video/adidas-base.mp4" /></video
            >
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">Adidas</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  CREATIVE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--loro">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/loro.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">Loro Piana</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--north-face">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              muted
              class="main-sections__item-media main-sections__item-media--mob-fill w-[480px] h-[275px] mx-auto"
            >
              <source
                src="video/north-face-mob.mp4"
                media="(max-width:767.9px)"
              />
              <source src="video/north-face-pc.mp4" /></video
            >
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">THE NORTH FACE</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--adidas-shibuya">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/adidas-shibuya.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name"
                >Adidas Brand Core Store Shibuya</span
              >
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--iwc">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/iwc.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">IWC</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--redbull">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/redbull.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">Red Bull</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  CREATIVE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--coach">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/coach.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">COACH</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  CREATIVE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--mini">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/mini.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">MINI Crossover</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--tommy">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/tommy.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">Tommy Hilfiger</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  MOVIE PRODUCE
                </li>
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article class="main-sections__item main-sections__item--chandon">
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center text-white m-0 flex-grow"
          >
            <video
              src="video/chandon.mp4"
              muted
              class="main-sections__item-media w-[480px] h-[275px] mx-auto"
            ></video>
            <div class="main-sections__item-info">
              <span class="main-sections__item-info-name">Moët&Chandon</span>
              <ul class="main-sections__item-info-tags">
                <li class="main-sections__item-info-tags-item">
                  PHOTOGRAPH PRODUCE
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <article
        class="main-sections__item main-sections__item--footer overflow-hidden"
      >
        <div class="container h-full flex-grow">
          <div
            class="flex flex-col h-full justify-center flex-grow max-md:items-center"
          >
            <h2
              class="font-title uppercase text-[80px] leading-[80px] mb-6 text-white"
            >
              Future
            </h2>
            <Button content="View" href="/future" className="w-max" invert />
            <div class="box" id="box1"></div>
            <div class="box" id="box2"></div>
          </div>
        </div>
      </article>
    </section>
  </main>
  <!-- <PageFooter></PageFooter> -->
</Layout>

<style lang="scss" is:global>
  :root {
    --topSectionBlur: 10px;
  }
  .container {
    max-width: 1600px;
    padding-inline: 45px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
  @media (max-width: 767.9px) {
    .container {
      padding-inline: 40px;
    }
  }
</style>
<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const officeVideo = document.querySelector(".main-sections__top-video");
  officeVideo.play();

  let pageTopTl = new gsap.timeline({
    onComplete: () =>
      document.querySelector(".main-sections__top-video").play(),
  });
  pageTopTl
    .to(".main-section__title", 0.6, {
      clipPath: "polygon(0 100%, 100% 100%, 100% 0, 0 0)",
    })
    .to(
      ".main-section__sub",
      0.4,
      { clipPath: "polygon(0 100%, 100% 100%, 100% 0, 0 0)" },
      "-=0.2"
    )
    .to(
      ".main-section__descr-text",
      0.4,
      { clipPath: "polygon(0 100%, 100% 100%, 100% 0, 0 0)" },
      "-=0.2"
    )
    .to(
      ".main-section__descr-btn",
      0.4,
      { clipPath: "polygon(0 100%, 100% 100%, 100% 0, 0 0)" },
      "-=0.2"
    );
  const pauseAllVideos = () => {
    const videos = document.querySelectorAll(
      "video:not(.main-sections__top-video)"
    );
    videos.forEach((video) => {
      video.pause();
    });
  };

  let panels = gsap.utils.toArray(".main-sections__item"),
    observer = ScrollTrigger.normalizeScroll(true),
    scrollTween;

  document.addEventListener(
    "touchstart",
    (e) => {
      if (scrollTween) {
        e.preventDefault();
        e.stopImmediatePropagation();
      }
    },
    { capture: true, passive: false }
  );

  let tops = panels.map((panel) =>
    ScrollTrigger.create({ trigger: panel, start: "top top" })
  );
  ScrollTrigger.create({
    snap: {
      snapTo: (progress, self) => {
        let panelStarts = tops.map((st) => st.start),
          snapScroll = gsap.utils.snap(panelStarts, self.scroll());

        return gsap.utils.normalize(
          0,
          ScrollTrigger.maxScroll(window),
          snapScroll
        );
      },
      onComplete: () => {
        const currentYpos = window.pageYOffset;
        panels.forEach(async (panel) => {
          await pauseAllVideos();
          // console.log(panel.parentNode.offsetTop, currentYpos);

          if (Math.abs(panel.parentNode.offsetTop - currentYpos) < 150) {
            console.log(10);

            if (panel.querySelector("video")) {
              panel.querySelector("video").play();
            }
            return;
          }
        });
      },
      duration: 0.5,
    },
  });

  panels.forEach((panel, i) => {
    ScrollTrigger.create({
      trigger: panel,
      start: () =>
        panel.offsetHeight < window.innerHeight ? "top top" : "bottom bottom", // if it's shorter than the viewport, we prefer to pin it at the top
      pin: !panel.parentNode.classList.contains("main-sections__top"),
      pinSpacing: false,
    });
  });

  let rootStyle = document.querySelector(":root");

  gsap.to(".main-sections__top", {
    scrollTrigger: {
      trigger: ".main-sections__item--main-sub",
      toggleActions: "restart resume reverse resume",
      start: "top bottom",
      end: "top top",
      //   markers: true,
      scrub: true,
      onUpdate: (self) => {
        rootStyle.style.setProperty(
          "--topSectionBlur",
          `${10 * (1 - self.progress)}px`
        );

        if (self.direction === 1) {
          self.progress;
        } else {
        }
      },
    },
  });

  //   gsap.to(".main-sections__item--main", {
  //     scrollTrigger: {
  //       trigger: ".main-sections__item--main",
  //       toggleActions: "restart resume reverse resume",
  //       start: "top bottom",
  //       end: "bottom top",
  //       markers: true,
  //       scrub: true,
  //       onUpdate: (self) => {
  // 		console.log(self);

  //         if (self.direction === 1) {
  //           console.log(self.progress);

  //           self.progress;
  //         } else {
  //         }
  //       },
  //     },
  //   });
  // 	import * as THREE from 'three';
  // 	let scene, camera, renderer, uniforms;

  // function init() {
  //   scene = new THREE.Scene();
  //   camera = new THREE.OrthographicCamera(
  //     window.innerWidth / -2, window.innerWidth / 2,
  //     window.innerHeight / 2, window.innerHeight / -2,
  //     1, 1000
  //   );
  //   camera.position.z = 1;

  //   renderer = new THREE.WebGLRenderer();
  //   renderer.setSize(window.innerWidth, window.innerHeight);
  //   document.body.appendChild(renderer.domElement);

  //   const textureLoader = new THREE.TextureLoader();
  //   const images = document.querySelectorAll('img');

  //   images.forEach((img) => {
  //     const texture = textureLoader.load(img.src);
  //     const geometry = new THREE.PlaneGeometry(img.width, img.height);  // исправлено

  //     uniforms = {
  //       uTexture: { value: texture },
  //       uMouse: { value: new THREE.Vector2(0.5, 0.5) }
  //     };

  //     const material = new THREE.ShaderMaterial({
  //       uniforms: uniforms,
  //       vertexShader: document.getElementById('vertexShader').textContent,
  //       fragmentShader: document.getElementById('fragmentShader').textContent
  //     });

  //     const mesh = new THREE.Mesh(geometry, material);
  //     scene.add(mesh);
  //   });

  //   window.addEventListener('mousemove', onMouseMove);
  //   animate();
  // }

  // function onMouseMove(event) {
  //   uniforms.uMouse.value.x = event.clientX / window.innerWidth;
  //   uniforms.uMouse.value.y = 1 - event.clientY / window.innerHeight;
  // }

  // function animate() {
  //   requestAnimationFrame(animate);
  //   renderer.render(scene, camera);
  // }

  // init();
</script>
