---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kohei Korada.">
  <div class="flex flex-col items-center justify-center h-[100vh] relative">
    <h1 class="font-title text-[72px] max-md:text-[60px] m-0">coming soon</h1>
    <div class="flex flex-col items-center mt-auto pb-[51px] absolute bottom-0">
      <h2 class="font-title text-[32px] max-md:text-[24px] m-0">KOHEI HARADA</h2>
      <span class="mt-[9px] text-lg max-md:text-[14px]"
        >Creative Factory</span
      >
    </div>
  </div>
</Layout>
