---
import Button from "./Button.astro";
---

<footer class="page-footer">
  <div class="container h-full">
    <div class="flex flex-col h-full justify-center">
      <h2 class="font-title uppercase text-[80px] leading-[80px] mb-6 text-white">
        Future
      </h2>
      <Button content="View" className="w-max" invert />
    </div>
  </div>
</footer>
<style lang="scss"></style>
