---
---
<div class="h-[146px] bg-white flex flex-col justify-center items-center w-full gap-[7px]">
    <span class=" rounded-full bg-[#A2A2A2] w-[9px] h-[9px]"></span>
    <span class=" rounded-full bg-[#A2A2A2] w-[9px] h-[9px]"></span>
    <span class=" rounded-full bg-[#A2A2A2] w-[9px] h-[9px]"></span>
</div>